body {
    padding: 0;
    margin: 0;
    font-family: "Alegreya", serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Start header  */
header {
    background-image: url(../images/drew-coffman-1872.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav {
    padding: 10px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 1s;
}

nav a:hover {
    color: #8E7754;
}

header .text {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    color: #e7e5e5;
} 

h2 , p {
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

h2 {
    font-size: 70px;
}

header .text p {
    width: 600px;
    font-size: 20px;
    /* word-wrap: normal; */
}

.btns {
    margin-top: 40px;
}

.btn2 , .btn1 {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 15px 23px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    transition: 1s;
}

.btn1 {
    background-color: #8E7754;
    border: none;
}

.btn2:hover , .btn1:hover {
    background-color: white;
    color: black;
}

@media (max-width: 1000px) {
    nav {
        background-color: #7f7e7e;
    }

    nav .container {
        flex-direction: column;
        justify-content: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    h2 {
        font-size: 50px;
    }

    header .text p {
        width: 100%;
        word-wrap: break-word;
        font-size: 20px;
    }

    header .text {
        margin-top: 100px;
    }
}

@media (max-width: 400px) {
    .btns {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }   
}
/* End header  */
/* Start Section1 */
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section1 img {
    width: 32%;
}

.section1 h3 , .section2 h3 {
    font-size: 30px;
    font-weight: lighter;
}

.section1 p {
    width: 630px;
    font-size: 18px;
    line-height: 1.4;
    color: #939292;
    margin-bottom: 35px;
}

.icons {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    gap: 20px;
}

.icon {
    width: 20px;
    height: 20px;
    padding: 8px;
    border: 1px solid #939292;
    border-radius: 50%;
    text-align: center;
}

i {
    color: #8E7754;
    text-align: center;
    margin-top: 3px;
}

@media (max-width: 1000px) {
    .section1 {
        flex-direction: column;
        justify-content: center;
    }

    .section1 p {
        width: 100%;
        word-wrap: break-word;
    }

    .section1 img {
        width: 60%;
    }
}
/* End Section1 */
/* Start Section2 */
.section2 {
    background-color: #f8f8f8;
}

.section2 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section2 img {
    width: 32%;
}

.section2 p {
    width: 630px;
    font-size: 18px;
    line-height: 1.4;
    color: #7d7d7d;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .section2 .container {
        flex-direction: column;
        justify-content: center;
    }

    .section2 p {
        width: 100%;
        word-wrap: break-word;
    }

    .section2 img {
        width: 60%;
    }
}
/* End Section2 */
